<div class="form-group row ilAuthGuardWidgetRow" id="il_prop_cont_authguard">
	<label for="authguard_code" class="col-lg-2 col-md-3 col-sm-4 control-label">{CAPTCHA_LABEL} <span class="asterisk">*</span></label>
	<div class="col-lg-10 col-md-9 col-sm-8">
		<div class="ilAuthGuardWidget">
			<svg class="ilAuthGuardShield" width="28" height="28" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
				<path d="M12 2 4 5v6c0 5 3.4 9.4 8 11 4.6-1.6 8-6 8-11V5l-8-3z" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
			</svg>
			<img id="authguard_image" class="ilAuthGuardImage" src="{CAPTCHA_IMG_SRC}" alt="{CAPTCHA_ALT}" />
			<a href="#" id="authguard_reload" class="ilAuthGuardReload">{CAPTCHA_RELOAD_TEXT}</a>
		</div>
		<input type="text" class="form-control ilAuthGuardInput" id="authguard_code" name="captcha_code" maxlength="16" autocomplete="off" required="required" />
		<div class="help-block">{CAPTCHA_INFO}</div>
	</div>
</div>
<script>
var authguardLastReload = 0;
document.getElementById('authguard_reload').addEventListener('click', function (e) {
	e.preventDefault();
	var now = Date.now();
	if (now - authguardLastReload < 1000) {
		return;
	}
	authguardLastReload = now;
	document.getElementById('authguard_image').src = {CAPTCHA_IMG_SRC_JS} + '&_=' + Date.now();
});
</script>
